<%= form_tag update_workshops_activity_path(@activity), class: 'auto-width', id: 'edit-workshops' do %>
  <table class="table">
    <tbody>
    <% @activity.workshops.each do |workshop| %>
      <tr class="workshop" id="edit-workshop-<%= workshop.id %>">
        <td>
          <%= hidden_field_tag "workshops[#{workshop.id}][number]", workshop.number %>
          <a href="#" data-move-workshop-up class="btn btn-default"
            <%= "style='display: none;'".html_safe if workshop.number==1 %>>
            ▲
          </a>
        </td>
        <td>
          <div class="form-group">
            <%= text_field_tag "workshops[#{workshop.id}][name]", workshop.name, class: 'form-control' %>
            <p class="help-block"><%= t :Name_error %></p>
          </div>
        </td>
        <td class="workshop-completed-cell">
          <% if workshop.completed? %>
            <label>
              <%= check_box_tag "workshops[#{workshop.id}][completed]", 1, true %>
              <%= t :Completed %>
            </label>
          <% end %>
        </td>
        <td>
          <% hidden = (@activity.workshops.count == 1) ? 'style="display: none;"'.html_safe : '' %>
          <a href="#" data-remove-workshop class="btn btn-sm btn-danger" <%= hidden %>>X</a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>
    <a href="#" data-add-workshop class="btn btn-success">+</a>
  </p>
  <p>
    <%= submit_tag t(:Save), class: 'btn btn-primary btn-lg' %>
    <a href="#" data-showable-form-hide class="btn btn-danger btn-lg"><%= t :Cancel %></a>
  </p>
<% end %>

<div id="components">
  <table>
    <tr style="display: none;" class="workshop">
      <td>
        <%= hidden_field_tag "new_workshop_numbers[]", 0 %>
        <a href="#" data-move-workshop-up class="btn btn-default">▲</a>
      </td>
      <td>
        <div class="form-group">
          <%= text_field_tag "new_workshops[]", '', class: 'form-control' %>
          <p class="help-block"><%= t :Name_error %></p>
        </div>
      </td>
      <td></td>
      <td>
        <a href="#" data-remove-workshop class="btn btn-sm btn-danger">X</a>
      </td>
    </tr>
  </table>

  <label class="workshop-completed-check">
    <%= check_box_tag "workshops[0][completed]", 1, true %>
    <%= t :Completed %>
  </label>

</div>