<%= form_tag update_workshops_activity_path(@activity), class: 'auto-width' do %>
  <table class="table">
    <tr style="display: none;" id="new-workshop-row">
      <td>
        <%= hidden_field_tag "new_workshop_numbers[]", 0 %>
        <a href="#" data-move-workshop-up class="btn btn-default">▲</a>
      </td>
      <td>
        <%= text_field_tag "new_workshops[]", '', class: 'form-control' %>
      </td>
      <td></td>
      <td>
        <a href="#" data-remove-workshop class="btn btn-sm btn-danger">X</a>
      </td>
    </tr>
    <% @activity.workshops.each do |workshop| %>
      <tr class="workshop">
        <td>
          <%= hidden_field_tag "workshops[#{workshop.id}][number]", workshop.number %>
          <a href="#" data-move-workshop-up class="btn btn-default"
            <%= "style='display: none;'".html_safe if workshop.number==1 %>>
            ▲
          </a>
        </td>
        <td>
          <%= text_field_tag "workshops[#{workshop.id}][name]", workshop.name, class: 'form-control' %>
        </td>
        <td>
          <% if workshop.completed? %>
            <label>
              <%= check_box_tag "workshops[#{workshop.id}][completed]", 1, true %>
              <%= t :Completed %>
            </label>
          <% end %>
        </td>
        <td>
          <a href="#" data-remove-workshop class="btn btn-sm btn-danger">X</a>
        </td>
      </tr>
    <% end %>
  </table>
  <p>
    <a href="#" data-add-workshop class="btn btn-success">+</a>
  </p>
  <p>
    <%= submit_tag t(:Save), class: 'btn btn-primary' %>
    <a href="#" data-showable-form-hide class="btn btn-danger"><%= t :Cancel %></a>
  </p>
<% end %>