<% name_class = (controller_name=='activities') ? 'h4' : '' %>
<table class="table">
  <% @activity.workshops.each do |workshop| %>
    <tr>
      <td class="<%= name_class %>">
        <%= t(workshop.name, default: workshop.name.to_s) %>
      </td>
      <td>
        <% if workshop.event %>
          <%= link_to workshop.event.dates_display_text, program_event_path(@program, workshop.event) %>
        <% else %>
          <% if workshop.stage %>
            <%= workshop.stage.f_start_date.pretty_print %><br />
          <% end %>
          <% if can? :update_activity, @activity %>
            <%= link_to t(:Add_event), new_program_event_path(@program, workshop: workshop) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if workshop.stage %>
          <%= t(:Completed) %>
        <% else %>
          <% if workshop.event %>
            <%= button_to t(:Mark_completed), complete_workshop_path(workshop), class: 'btn btn-sm btn-primary' %>
          <% else %>
            <a href="#" data-show-workshop-form class="btn btn-sm btn-primary">
              <%= t :Mark_completed %>
            </a>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% if can?(:update_activity, @activity) && !workshop.event %>
      <tr class="hidden-workshop-form">
        <td class="<%= name_class %>">
          <%= t(workshop.name, default: workshop.name.to_s) %>
        </td>
        <td colspan="2" style="vertical-align: top">
          <%= form_tag complete_workshop_path(workshop) do %>
            <%= hidden_field_tag 'referred_by', request.path %>
            <% options = {model: :workshop, field: :date, horizontal_form: true} %>
            <div style="display: inline-table; margin-left: 8px; margin-right: 8px;">
              <%= render 'shared/fuzzy_date_field', options %>
            </div>
            <%= submit_tag t(:Save), class: 'btn btn-primary' %>
            <a href="#" data-cancel-workshop-form class="btn btn-danger">
              <%= t :Cancel %>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>