<% activities = program.translation_activities.in_progress.count %>
<% people = program.current_people.count %>
<% events = program.events.upcoming.count %>

<% unless activities == 0 %>
    <span class="bigger"><%= activities %></span>
  <%= t('Activity'.pluralize(activities)) %>
  <%= '|' unless people == 0 and events == 0 %>
<% end %>

<% unless people == 0 %>
    <span class="bigger"><%= people %></span>
  <%= t('Person'.pluralize( people)) %>
  <%= '|' unless events == 0 %>
<% end %>

<% unless events == 0 %>
    <span class="bigger"><%= events %></span>
  <%= t('Upcoming_event'.pluralize(events)) %>
<% end %>