<% pubs = Publication.where(kind: kind).reorder('year DESC NULLS LAST, created_at DESC').limit(15) %>
<table class="table">
  <% pubs.each do |pub| %>
      <tr>
        <td class="bigger"><%= pub.name %></td>
        <td><%= pub.year %></td>
        <td><%= pub.program.name %></td>
        <% if kind=='Media' %>
          <td><%= t(pub.media_kind) %></td>
        <% end %>
        <td><%= link_to t(:View), pub %></td>
      </tr>
  <% end %>
  <tr><td>...</td><td colspan="3"></td> </tr>
</table>