<div class="row">
  <div class="col-md-6">

    <div id="translations">
      <h3><%= t :Translations_by_stage %></h3>
      <table class="table">
        <% StageName.translation_stages.each do |stage_name| %>
            <tr>
              <td class="bigger"><%= Stage.where(stage_name: stage_name, current: true).count %></td>
              <td>
                <%= t(stage_name.name) %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>

  </div>

  <div class="col-md-6">

    <%= render 'domain_events_table' %>

    <div id="publications">
      <h3><%= t :Published_scriptures %></h3>
      <%= render 'publications_table', kind: 'Scripture' %>
    </div>

  </div>
</div>

