<h2><%= t :Language_clusters %></h2>

<p>
  <%= link_to t(:Enter_cluster), new_cluster_path, class: 'btn btn-primary' %>
</p>

<table class="table" style="width: auto;">
  <tr>
    <th><%= t :Cluster %></th>
    <th><%= t :Languages %></th>
    <th></th>
  </tr>
  <% @clusters.each do |cluster| %>
    <tr>
      <td><%= link_to t(:Cluster_x, name: cluster.name), languages_path(cluster: cluster.id) %></td>
      <td><%= cluster.languages.collect{ |l| link_to(l.name, dashboard_program_path(l.program)) }.join(', ').html_safe %></td>
      <td><%= link_to t(:Add_language), edit_cluster_path(cluster) %></td>
    </tr>
  <% end %>
</table>