<%= render 'shared/error_messages', errors: @person.errors %>

<%= form_for @person do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.radio_button :gender, "M", checked: true %>
    <%= f.label :gender, "Male" %><br />
    <%= f.radio_button :gender, "F" %>
    <%= f.label :gender, "Female" %>
  </p>

  <p>
    <%= f.label :birth_date, "Date of Birth:" %>
    <%= f.date_field :birth_date %>
  </p>

  <p>
    <%= f.label :country, "Home Country" %>
    <%= f.collection_select :country_id, Country.all, :id, :name %>
  </p>

  <p>
    <%= f.label :organization %>
    <%= f.collection_select :organization_id, Organization.all, :id, :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.check_box :has_login %>
    <%= f.label 'Able to log in' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>