<%= render 'shared/error_messages', errors: @person.errors %>

<%= form_for @person do |f| %>
  <p>
    <%= f.label :first_name, t(:First_Name) %>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name, t(:Last_Name) %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.radio_button :gender, "M", checked: true %>
    <%= f.label :gender_m, t(:Male) %><br />
    <%= f.radio_button :gender, "F" %>
    <%= f.label :gender_f, t(:Female) %>
  </p>

  <p>
    <%= f.label :birth_date, t(:Date_of_Birth) %>
    <%= f.date_field :birth_date %>
  </p>

  <p>
    <%= f.label :country, t(:Home_Country) %>
    <%= f.collection_select :country_id, Country.all, :id, :name %>
  </p>

  <p>
    <%= f.label :organization, t(:Organization) %>
    <%= f.collection_select :organization_id, Organization.all, :id, :name %>
  </p>

  <p>
    <%= f.label :email, t(:Email) %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.check_box :has_login %>
    <%= f.label t(:Can_log_in) %>
  </p>

  <p>
    <%= f.label :ui_language, t(:dulu_preferred_language) %><br />
    <%= f.radio_button :ui_language, "en", checked: true %>
    <%= f.label :ui_language_en, t(:English) %><br />
    <%= f.radio_button :ui_language, "fr" %>
    <%= f.label :ui_language_fr, t(:French) %><br />
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>