
<%= form_for @person do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.check_box :has_login %>
    <%= f.label 'Able to log in' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>