<h2><%= @person.full_name %></h2>
<h4><%= @person.organization.try(:name) %></h4>

<% if can? :update, @person %>
    <div>
      <%= link_to t(:Edit_person), edit_person_path(@person) %>
    </div>
<% end %>

<table class="table" style="width:auto;">
  <tr>
    <th><%= t :Home_Country %></th>
    <td><%= @person.country.try(:name) %></td>
  </tr>
  <tr>
    <th><%= t :Email %></th>
    <td><%= @person.email %></td>
  </tr>
  <% if can? :update, @person %>
    <tr>
      <th><%= t :User_role %></th>
      <td><%= t @person.role_text %></td>
    </tr>
  <% end %>
</table>

<table class="table">
  <% @person.participants.each do |participant| %>
    <tr>
      <td>
        <%= link_to participant.cluster_program.display_name, participant.cluster_program %>
         - <%= t(participant.program_role.name) %>
      </td>
    </tr>
  <% end %>
</table>