<h2><%= @person.full_name %></h2>
<h4><%= @person.organization.try(:name) %></h4>

<% if can? :update, @person %>
    <div>
      <%= link_to t(:Edit_person), edit_person_path(@person) %>
    </div>
<% end %>

<table class="table" style="width:auto;">
  <tr>
    <th><%= t :Home_Country %></th>
    <td><%= @person.country.try(:name) %></td>
  </tr>
  <tr>
    <th><%= t :Email %></th>
    <td><%= @person.email %></td>
  </tr>
  <% if can? :update, @person %>
    <tr>
      <th><%= t :User_role %></th>
      <td><%= t @person.role_text %></td>
    </tr>
  <% end %>
</table>

<h4><%= t :Roles %></h4>
<% unless @person.roles_field.blank? %>
  <table class="table" style="width: auto;">
    <tr>
      <th><%= t :Role %></th>
      <th><%= t :As_of %></th>
      <th>
      </th>
    </tr>
    <% @person.person_roles.current.each do |person_role| %>
      <tr>
        <td><%= t person_role.role %></td>
        <td><%= l(person_role.start_date, format: :long) %></td>
        <td>
          <% if can? :edit_roles, @person %>
              <%= link_to t(:Remove), finish_person_person_role_path(@person, person_role.role), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<p>
  <% if can? :edit_roles, @person %>
    <%= form_for :person_role, url: person_person_roles_path(@person), html: {class: 'form-inline'} do |form| %>
      <div class="form-group">
        <label><%= t :Add_role %></label>
        <%= form.select :role, Role.available(@person).collect{ |role| [t(role), role] }, {}, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= form.submit t(:Add), class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</p>

<table class="table">
  <% @person.participants.each do |participant| %>
    <tr>
      <td>
        <%= link_to participant.cluster_program.display_name, participant.cluster_program %>
         - <%= t(participant.program_role.name) %>
      </td>
    </tr>
  <% end %>
</table>