<h2><%= @person.full_name %></h2>
<h4><%= @person.organization.try(:name) %></h4>
<% if can? :update, @person %>
  <div class="padded">
    <%= link_to t(:Edit_person), edit_person_path(@person) %>
  </div>
<% end %>
<table class="table">
  <% @person.participants.each do |participant| %>
    <tr>
      <td>
        <%= link_to participant.cluster_program.display_name, participant.cluster_program %>
         - <%= t(participant.program_role.name) %>
      </td>
    </tr>
  <% end %>
</table>