<%= render 'shared/error_messages', errors: @publication.errors %>

<div class="form-group">
  <%= form.label :english_name, t(:Title) %><br>
  <i><%= t :One_title_required %></i>

  <div style="margin-left: 20px;">
    <div class="form-group">
      <%= form.label :english_name, t(:English) %>
      <%= form.text_field :english_name, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group">
      <%= form.label :french_name, t(:French) %>
      <%= form.text_field :french_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :nl_name, @program.name %>
      <%= form.text_field :nl_name, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= form.label :kind, t(:Type_of_publication) %>
  <%= form.select(:kind,
                  t_select_options(Publication.kinds, @publication.kind),
                  {},
                  class: 'form-control') %>
</div>

<%= hidden_field_tag 'publication[media_kind]', '' %>
<div class="form-group" id="media-kinds" style="display: none;">
  <% Publication.media_kinds.each do |media_kind| %>
    <label class="radio-inline">
      <% @publication.media_kind ||= 'Audio' %>
      <%= form.radio_button :media_kind, media_kind %>
      <%= t media_kind %>
    </label>
  <% end %>
</div>

<%= hidden_field_tag 'publication[scripture_kind]', '' %>
<div class="form-group" id="scripture-kinds" style="display: none;">
  <% Publication.scripture_kinds.each do |scripture_kind| %>
    <label class="radio-inline">
      <% @publication.scripture_kind ||= 'Bible' %>
      <%= form.radio_button :scripture_kind, scripture_kind %>
      <%= t scripture_kind %>
    </label>
  <% end %>
</div>

<div class="form-group">
  <%= form.label :year, t(:Publication_year) %>
  <%= form.text_field :year, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.submit(t(:Save), class: 'btn btn-primary btn-lg') %>
  <a onclick="window.history.back()" class="btn btn-danger btn-lg"><%= t(:Cancel) %></a>
</div>