<%= render 'programs/sidebar' do %>

  <h2>
    <style>
      form.button_to {
        display: inline-block;
      }
    </style>
    <%= @publication.name %>
    <%= link_to t(:Delete),
                  publication_path(@publication),
                  method: :delete,
                  data: {confirm: t(:Delete_pub_confirmation,
                                    title: @publication.name)},
                  class: 'btn btn-danger',
                  style: 'margin-left: 40px' %>
  </h2>

  <%= form_for @publication, html: {class: 'auto-width'} do |form| %>
    <%= render 'pub_form', form: form %>
  <% end %>

<% end %>