<%= render 'programs/sidebar' do %>
  <h2><%= t :Publications %></h2>

  <% if can? :create, @program.publications.new %>
    <%= link_to t(:Add_publication), new_program_publication_path, class: 'btn btn-primary' %>
  <% end %>

  <% if @publications.empty? %>
    <h3><%= t :No_publications %></h3>
  <% end %>

  <% Publication.kinds.each do |kind| %>
    <% kind_pubs = @publications.select{ |pub| pub.kind==kind } %>
    <% unless kind_pubs.empty? %>
      <h3 id="<%= kind %>"><%= t kind %></h3>
      <table class="table auto-width" style="margin-left: 20px;">
        <% kind_pubs.each do |pub| %>
          <% names = pub.names prefer_nl: true %>
          <tr>
            <td>
              <span class="bigger">
                <%= names[0] %>
              </span>
            </td>
            <td>
              <%= pub.year %>
            </td>
            <td>
              <%= names[1] %>
            </td>
            <% if kind == 'Media' %>
              <td>
                <%= t(pub.media_kind) %>
              </td>
            <% end %>
            <td>
              <%= link_to t(:Edit), edit_publication_path(pub) if can? :update, pub %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>