<h2>
  <%= @book_in_translation.program.language.name %>
  Program - 
  <%= @book_in_translation.bible_book.name %>
</h2>

<%= form_for(@translation_stage, 
      url: book_in_translation_translation_stages_path(@book_in_translation)) do |f| %>
  <p>
    <%= f.label :stage_name %>
    <%= f.collection_select(:stage_name_id, StageName.all.order(:id),
          :id, :name) %>
  </p>
  <p>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
