<tr id="activity-row-<%= activity.id %>">
  <td>
    <%= link_to activity.name, activity_path(activity) %>
  </td>

  <td class="progress-cell" id="activity-progress-<%= activity.id %>">
    <%= render 'programs/progress_bar', activity: activity %>
  </td>

  <td id="activity-stage-name-<%= activity.id %>">
    <% if can? :update, activity %>
        <%= link_to t(activity.stage_name, default: activity.stage_name.to_s), '#', {'data-slide-form-id' => activity.id} %>
    <% else %>
      <%= t(activity.stage_name, default: activity.stage_name.to_s) %>
    <% end %>
    <span id="activity-stage-date-<%= activity.id %>">
      <% date = activity.current_stage.f_start_date.try(:pretty_print) %>
      <%= "(#{date})" unless date.nil? %>
    </span>
  </td>

  <td>
    <% unless activity.note.blank? %>
      <abbr title="<%= activity.note %>"><%= t :Notes %></abbr>
    <% end %>
  </td>

  <td id="activity-participants-<%= activity.id %>">
    <%= render 'programs/participants', activity: activity %>
  </td>

  <% unless activity.kind == :Translation %>
    <td id="activity-archive-<%= activity.id %>">
      <%= render 'programs/archive_button', activity: activity %>
    </td>
  <% end %>
</tr>

<% if can? :update, activity %>
  <tr>
    <td colspan="6" class="update-stage-form" id="update-stage-form-cell-<%= activity.id %>">
      <div class="row" id="update-stage-form-<%= activity.id %>" style="display: none;">
        <% if activity.category == :Workshops %>
          <% @activity = activity %>
          <div style="margin-left: 40px;">
            <%= render 'workshops/table' %>
          </div>
        <% else %>
          <%= render 'stages/ajax_form', activity: activity %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>