<tr>
  <td><%= link_to activity.name, activity %>
  </td>
  <td class="progress-cell" id="activity-progress-<%= activity.id %>">
    <%= render 'progress_bar', activity: activity %>
  </td>
  <td id="activity-stage-name-<%= activity.id %>">
    <%= render 'stage_name_link', activity: activity %>
  </td>
  <td><%= goal %></td>
  <td>
    <% relations = activity.pers_prog_rels_for_my_stage %>
    <% relations.each do |relation| %>
      <%= relation.person.full_name %><%= ', ' unless relation==relations.last %>
    <% end %>

  </td>
</tr>
<tr>
  <td colspan="6" class="update-stage-form" id="update-stage-form-cell-<%= activity.id %>">
    <div class="row" id="update-stage-form-<%= activity.id %>" style="display: none;">
      <%= render 'translation_stages/ajax_form', activity: activity %>
    </div>
  </td>
</tr>