<tr>
  <td><%= link_to activity.name, activity %>
  </td>
  <td class="progress-cell" id="activity-progress-<%= activity.id %>">
    <%= render 'programs/progress_bar', activity: activity %>
  </td>
  <td id="activity-stage-name-<%= activity.id %>">
    <% if can? :update_activity, activity %>
      <%= render 'programs/stage_name_link', activity: activity %>
    <% else %>
      <%= activity.stage_name %>
    <% end %>
  </td>
  <td>
    <% relations = activity.participants_for_my_stage %>
    <% relations.each do |relation| %>
      <%= relation.person.full_name %><%= ', ' unless relation==relations.last %>
    <% end %>

  </td>
</tr>
<% if can? :update_activity, activity %>
  <tr>
    <td colspan="6" class="update-stage-form" id="update-stage-form-cell-<%= activity.id %>">
      <div class="row" id="update-stage-form-<%= activity.id %>" style="display: none;">
        <%= render 'stages/ajax_form', activity: activity %>
      </div>
    </td>
  </tr>
<% end %>