<ul class="list-unstyled">
  <% if updates.empty? %>
    <%= t :No_information %>
  <% else %>
    <% updates.first(3).each do |update| %>
      <li style="margin-bottom: 6px;">
        <i>
          <% if update.status_parameter %>
            <%= update.status_parameter.prompt %>
          <% else %>
            <%= t :Other %>
          <% end %>
          (<%= update.f_date.year %>)
          <br>
        </i>
        <span style="margin-left: 8px;">
          <%= render 'domain_updates/status', update: update %>
        </span>
      </li>
    <% end %>
    <% domain = updates.first.domain %>
    <%= link_to t(:More), program_domain_updates_path(@program, anchor: domain) %>
  <% end %>
</ul>