<% @language ||= @program.language %>
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
    <h1 class="sidebar-title"><%= @program.name %></h1>
    <% link_text = @language.is_dialect? ?
                     "#{t(:A_dialect_of)} #{@language.code_or_parent_code}" :
                     @language.code %>
    <%= link_to link_text, @language.ethnologue_link,
      target: '_blank', class: "h3 sidebar-subtitle" %>
    <h3 class="sidebar-subtitle">
      <% if @program.language.country %>
        <%= link_to @language.country.name,
                    languages_path(country: @language.country),
                    class: 'h3 sidebar-subtitle' %>
        <% if @language.cameroon_region %>
          :
          <%= link_to(@language.cameroon_region.name,
                      languages_path(region: @language.cameroon_region),
                      class: 'h3 sidebar-subtitle') %>
        <% end %>
      <% end %>
    </h3>
    <% if @language.cluster %>
      <h3 class="sidebar-subtitle">
        <%= link_to t(:Cluster_x, name: @language.cluster.name),
                    languages_path(cluster: @language.cluster),
                    class: 'h3 sidebar-subtitle' %>
      </h3>
    <% end %>

    <%= render 'programs/sidebar_links' %>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <%= yield %>
  </div>
</div>