<%= render layout: 'sidebar' do %>
  <div class="row">
    <div class="col-md-9">
      <div id="activities-table-div">
        <h2><%= t :Current_activities %></h2>
        <table class="table" id="activities-table">
          <% @program.sorted_activities.each do |activity| %>
            <%= render 'current_activity_table_row', activity: activity %>
          <% end %>
        </table>
      </div>
      <div>
        <h2><%= t :Program_status %></h2>
        <div class="row">
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Bible), pubs: @program.sorted_pubs('Bible')} %>
            <%= render 'dashboard_panel', {title: t(:Media), pubs: @program.sorted_pubs('Media')} %>
            <%= render 'dashboard_panel', {title: t(:Mobilization), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Ethnomusicology), info: ''} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Publications), pubs: @program.sorted_pubs('NLPub')} %>
            <%= render 'dashboard_panel', {title: t(:Literacy), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Community_development), info: ''} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Linguistics), pubs: @program.sorted_pubs('Linguistic')} %>
            <%= render 'dashboard_panel', {title: t(:Scripture_use), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Anthropology), info: ''} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div>
        <%= render 'upcoming_events', events: [] %>
      </div>
    </div>
  </div>
<% end %>