<%= render layout: 'sidebar' do %>
  <div class="row">
    <div class="col-md-9">
      <div>
        <h2>Current Activities</h2>
        <table class="table" id="activities-table">
          <% @program.translation_activities.each do |activity| %>
            <%= render 'current_activity_table_row', 
                  {activity: activity,
                  goal: 'Goal: July', 
                  person: 'Joe Translator'} %>
          <% end %>
        </table>
      </div>
      <hr>
      <div>
        <h2>Program Status</h2>
        <div class="row">
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: 'Bible', list_with_headings: [{heading: 'Old Testament (11%)', items: ['Genesis (2012)', 'Ruth (2013)']}, {heading: 'New Testament (4%)', items: ['James (2015)']}]} %>
            <%= render 'dashboard_panel', {title: 'Media', list_items: ['Audio Genesis (2013)']} %>
            <%= render 'dashboard_panel', {title: 'Mobilization', list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: 'Ethnomusicology', list_items: ['Hymnal (2016)']} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: 'Publications', list_items: ['Primer (2011)', 'Traditional Stories (2013)']} %>
            <%= render 'dashboard_panel', {title: 'Literacy', list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: 'Community Development', list_items: ['Something']} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: 'Linguistics', list_items: ['Lexicon (2015)']} %>
            <%= render 'dashboard_panel', {title: 'Scripture Use', list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: 'Anthropology', list_items: ['Ewondo Customs (1977)']} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div>
        <h2>Events &amp; Milestones</h2>
        <ul class="list-group">
        <a href="#" class="list-group-item calendar-past">
          <small>7-14 February<br /></small>
          Literacy Workshop
        </a>
        <a href="#" class="list-group-item calendar-past">
          <small>15 April<br /></small>
          Completed Luke Consultant Check
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>6-13 June<br /></small>
          Translation Workshop
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>July<br /></small>
          Publish Phonology
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>August<br /></small>
          Record Luke Film
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>November<br /></small>
          Publish Luke
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>Jan 2018<br /></small>
          Complete Draft of Mark
        </a>
        </ul>
      </div>
    </div>
  </div>
<% end %>