<%= render layout: 'sidebar' do %>
  <div class="row">
    <div class="col-md-9">
      <div id="activities-table-div" class="bottom-border">
        <h2><%= t :Current_activities %></h2>
        <% if can?(:create_activity, @program) and not @program.sorted_activities.empty? %>
          <%= link_to t(:Add_activity), new_program_activity_path(@program), class: 'btn btn-primary' %>
        <% end %>
        <% if @program.sorted_activities.empty? %>
          <h3><%= t :No_current_activities %></h3>
          <%= button_to t(:Add_activity), new_program_activity_path(@program), method: :get, class: 'btn btn-primary space-below' if can? :create_activity, @program %>
        <% else %>
          <% activities_hash = @program.sorted_activities.group_by{ |a| a.kind } %>
          <% activities_hash.keys.sort.reverse_each do |kind| %>
            <div class="minimizable-parent">
              <h3>
                <%= t "#{kind}_activities" %>
                <a href="#" data-minimize class="btn btn-default btn-sm">-</a>
              </h3>
              <div class="minimizable">
                <% if kind == :Translation %>
                  <%= render 'programs/testament_archive_buttons' %>
                  <%= render 'shared/percentages', program: @program %>
                <% end %>
                <table class="table activities-table" id="<%= kind.to_s.downcase %>-activities-table">
                  <% activities_hash[kind].each do |activity| %>
                    <%= render 'current_activity_table_row', activity: activity %>
                  <% end %>
                </table>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2><%= t :Program_status %></h2>
        <div class="row">
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Bible), pubs: @program.sorted_pubs('Scripture')} %>
            <%= render 'dashboard_panel', {title: t(:Media), pubs: @program.sorted_pubs('Media')} %>
            <%= render 'dashboard_panel', {title: t(:Mobilization), updates: @program.domain_updates.where(domain: 'Mobilization')} %>
            <%= render 'dashboard_panel', {title: t(:Ethnomusicology), updates: @program.domain_updates.where(domain: 'Ethnomusicology')} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Publications), pubs: @program.sorted_pubs('NLPub')} %>
            <%= render 'dashboard_panel', {title: t(:Literacy), updates: @program.domain_updates.where(domain: 'Literacy')} %>
            <%= render 'dashboard_panel', {title: t(:Community_development), updates: @program.domain_updates.where(domain: 'Community_development')} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Linguistics), pubs: @program.sorted_pubs('Linguistic')} %>
            <%= render 'dashboard_panel', {title: t(:Scripture_use), updates: @program.domain_updates.where(domain: 'Scripture_use')} %>
            <%= render 'dashboard_panel', {title: t(:Anthropology), updates: @program.domain_updates.where(domain: 'Anthropology')} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <% events = @program.all_events.current %>
      <% unless events.empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Current_events), events: events, reverse: true %>
        </div>
      <% end %>

      <% events = @program.all_events.upcoming.last(4) %>
      <% unless events.empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Upcoming_events), events: events.last(3), reverse: true %>
          <% if events.count > 3 %>
            <p class="lead">
              <%= link_to t(:More), program_events_path(@program) %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% events = @program.all_events.past.first(4) %>
      <% unless events.empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Past_events), events: events.first(3) %>
          <% if events.count > 3 %>
              <p class="lead">
                <%= link_to t(:More), program_events_path(@program) %>
              </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>