<%= render layout: 'sidebar' do %>
  <div class="row">
    <div class="col-md-9">
      <div id="activities-table-div" class="bottom-border">
        <h2><%= t :Current_activities %></h2>
        <%= button_to t(:New_activity), new_program_activity_path(@program), method: :get, class: 'btn btn-primary' if can? :create_activity, @program %>
        <%= render 'shared/percentages', program: @program %>
        <% if @program.sorted_activities.empty? %>
          <h3><%= t :No_current_activities %></h3>
        <% else %>
            <table class="table" id="activities-table">
              <% @program.sorted_activities.each do |activity| %>
                <%= render 'current_activity_table_row', activity: activity %>
              <% end %>
            </table>
        <% end %>
      </div>
      <div>
        <h2><%= t :Program_status %></h2>
        <div class="row">
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Bible), pubs: @program.sorted_pubs('Bible')} %>
            <%= render 'dashboard_panel', {title: t(:Media), pubs: @program.sorted_pubs('Media')} %>
            <%= render 'dashboard_panel', {title: t(:Mobilization), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Ethnomusicology), info: ''} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Publications), pubs: @program.sorted_pubs('NLPub')} %>
            <%= render 'dashboard_panel', {title: t(:Literacy), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Community_development), info: ''} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Linguistics), pubs: @program.sorted_pubs('Linguistic')} %>
            <%= render 'dashboard_panel', {title: t(:Scripture_use), info: ''} %>
            <%= render 'dashboard_panel', {title: t(:Anthropology), info: ''} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <% events = @program.events_as_hash %>
      <% unless events[:current].empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Current_events), events: events[:current] %>
        </div>
      <% end %>

      <% unless events[:future].empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Upcoming_events), events: events[:future].first(3) %>
          <% if events[:future].count > 3 %>
            <p class="lead">
              <%= link_to t(:More), program_events_path(@program) %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% unless events[:past].empty? %>
        <div>
          <%= render 'events/events_column', title: t(:Past_events), events: events[:past].last(3), reverse: true %>
          <% if events[:past].count > 3 %>
              <p class="lead">
                <%= link_to t(:More), program_events_path(@program) %>
              </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>