<%= render layout: 'sidebar' do %>
  <div class="row">
    <div class="col-md-9">
      <div id="activities-table-div">
        <h2><%= t :Current_activities %></h2>
        <table class="table" id="activities-table">
          <% @program.sorted_activities.each do |activity| %>
            <%= render 'current_activity_table_row', activity: activity %>
          <% end %>
        </table>
      </div>
      <div>
        <h2><%= t :Program_status %></h2>
        <div class="row">
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Bible), list_with_headings: [{heading: 'Old Testament (11%)', items: ['Genesis (2012)', 'Ruth (2013)']}, {heading: 'New Testament (4%)', items: ['James (2015)']}]} %>
            <%= render 'dashboard_panel', {title: t(:Media), list_items: ['Audio Genesis (2013)']} %>
            <%= render 'dashboard_panel', {title: t(:Mobilization), list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: t(:Ethnomusicology), list_items: ['Hymnal (2016)']} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Publications), list_items: ['Primer (2011)', 'Traditional Stories (2013)']} %>
            <%= render 'dashboard_panel', {title: t(:Literacy), list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: t(:Community_development), list_items: ['Something']} %>
          </div>
          <div class="col-md-4">
            <%= render 'dashboard_panel', {title: t(:Linguistics), list_items: ['Lexicon (2015)']} %>
            <%= render 'dashboard_panel', {title: t(:Scripture_use), list_items: ['Something']} %>
            <%= render 'dashboard_panel', {title: t(:Anthropology), list_items: ['Ewondo Customs (1977)']} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div>
        <h2>Events &amp; Milestones</h2>
        <ul class="list-group">
        <a href="#" class="list-group-item calendar-past">
          <small>7-14 February<br /></small>
          Literacy Workshop
        </a>
        <a href="#" class="list-group-item calendar-past">
          <small>15 April<br /></small>
          Completed Luke Consultant Check
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>6-13 June<br /></small>
          Translation Workshop
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>July<br /></small>
          Publish Phonology
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>August<br /></small>
          Record Luke Film
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>November<br /></small>
          Publish Luke
        </a>
        <a href="#" class="list-group-item calendar-future">
          <small>Jan 2018<br /></small>
          Complete Draft of Mark
        </a>
        </ul>
      </div>
    </div>
  </div>
<% end %>