<h2>New Program</h2>

<%= render 'shared/error_messages', errors: @program.errors if @program.errors %>

<%= form_for @program do |f| %>
  <p>
    <%= f.label :language %>
    <%= f.collection_select :language_id, 
          Language.all.order('name'), :id, :name %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    (Ex. New Testament)
  <p>
    <% @program.start_date = Date.today unless @program.start_date %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  <p>
    <%= f.submit %>
  </p>
<% end %>