<h2><%= t :New_program %></h2>

<%= render 'shared/error_messages', errors: @program.errors if @program.errors %>

<%= form_for @program do |f| %>
  <p>
    <%= f.label :language, t(:Language) %>
    <%= f.collection_select :language_id, 
          Language.all.order('name'), :id, :name %>
  </p>


    <%= f.submit %>
  </p>
<% end %>