<tr>
  <td><a href="#" class="h4"><%= item %></a></td>
  <td class="progress-cell">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%">
      </div>
    </div>
  </td>
  <td><%= status %></td>
  <td><%= goal %></td>
  <td><%= person %></td>
</tr>