<%= render 'programs/sidebar' do %>

  <% unless @language.alt_names.blank? %>
    <h3><%= t :Change_default_name %></h3>
    <%= form_tag language_path(@language), method: :put, class: 'auto-width', id: 'change_name_form' do %>
      <div class="form-group">
        <label><%= t :New_name %></label>
        <%= select_tag :language_name, options_for_select(@language.alt_names_array), class: 'form-control' %>
      </div>
      <%= submit_tag t(:Save), class: 'btn btn-primary' %>
    <% end %>
    <hr>
  <% end %>

  <% unless @language.is_dialect? %>
    <h3><%= t :Add_entry_for_dialect %></h3>
      <%= render 'shared/error_messages', errors: @dialect.errors %>
      <%= form_for @dialect, html: {class: 'auto-width', id: 'new_dialect_form'} do |form| %>
      <%= form.hidden_field :parent_id %>
      <%= form.hidden_field :country_id %>
      <%= form.hidden_field :region_id %>
      <div class="form-group">
        <label><%= t :Name_of_dialect %></label>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <%= submit_tag t(:Save), class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>