<h1>
  <%= t :Languages %>
  <small><%= @subtitle %></small>
</h1>

<table class='table'>
  <tr>
    <th><%= t :Name %></th>
    <th><%= t :Language_program %></th>
    <th><%= t :Code %></th>
    <th><%= t :Alternate_names %></th>
    <th><%= t :Status %></th>
    <th><%= t :Country %></th>
    <th><%= t :Region %></th>
    <th><%= t :Population %></th>
  </tr>
  <% @languages.each do |language| %>
    <tr>
      <td>
        <%= link_to language.name, language_path(language) %><br>
        <%= "#{t(:A_dialect_of)} #{language.parent.name}"  if language.is_dialect? %>
      </td>
      <td>
        <% unless language.program.activities.empty? %>
          <%= link_to t(:Active), dashboard_program_path(language.program) %>
        <% end %>
      </td>
      <td><%= language.code %></td>
      <td><%= language.alt_names.try(:gsub, ',', ', ') %></td>
      <td>
        <% if status = language.language_status %>
          <%= "(#{status.level}) #{status.label}" %>
        <% end %>
      </td>
      <td><%= language.country.name if language.country %></td>
      <td><%= language.region.name if language.region %></td>
      <td><%= language.population_description %></td>
    </tr>
  <% end %>
</table>