<h1><%= t :Languages %></h1>

<table class='table'>
  <tr>
    <th><%= t :Name %></th>
    <th><%= t :Code %></th>
    <th><%= t :Status %></th>
    <th><%= t :Country %></th>
    <th><%= t :Region %></th>
    <th><%= t :Population %></th>
  </tr>
  <% @languages.each do |language| %>
    <tr>
      <td><%= language.name %></td>
      <td><%= language.code %></td>
      <td>
        <% if status = language.language_status %>
          <%= "(#{status.level}) #{status.label}" %>
        <% end %>
      </td>
      <td><%= language.country.name if language.country %></td>
      <td><%= language.cameroon_region.english_name if language.cameroon_region %></td>
      <td><%= language.population_description %></td>
    </tr>
  <% end %>
</table>