<%= render 'styles' %>

<p>
  <%= t 'email.notification_summary.intro' %>
</p>

<ul>
  <% @notifications.reverse_each do |notification| %>
    <li>
      <%= notification.html(@locale, base_url).html_safe %>
    </li>
  <% end %>
</ul>

<p>
  <small>
    <%= link_to t('email.notify.log_in_now'), login_url %><br />
    <%= link_to t('email.update_email_prefs'), model_url(@person) %>
  </small>
</p>