<%= render 'styles' %>

<p>
  <%= t 'email.notification_summary.intro' %>
</p>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= render 'notifications/text', notification: notification %>
    </li>
  <% end %>
</ul>

<p>
  <small>
    <%= link_to t('email.notify.log_in_now'), login_url %><br />
    <%= link_to t('email.update_email_prefs'), edit_person_url(@person) %>
  </small>
</p>