<%= render 'styles' %>

<h1><%= t 'email.welcome.welcome' %></h1>

<p>
  <%= t 'email.welcome.account_created', name: @creator.full_name %>
</p>

<h3>
  <%= link_to t('email.welcome.log_in_now'), login_url %>
</h3>

<p>
  <%= t('email.welcome.log_in_how', site_link: link_to('dulu.sil.org', root_url), email: @person.email).html_safe %>
</p>

<h3>
  <%= t 'email.welcome.whats_dulu' %>
</h3>

<p>
  <%= t 'email.welcome.dulu_is' %>
</p>

<p>
  <%= t('email.welcome.help', email_link: mail_to(ENV['GMAIL_USERNAME'])).html_safe %>
</p>