<% associated_activities = [] unless associated_activities %>

<h4><%= t :Associated_activities %></h4>
<div class="form-group">
  <ul class="list-inline">
    <li><a href="#" data-check-all><%= t :All %></a></li>
    <li><a href="#" data-check-none><%= t :None %></a></li>
  </ul>

  <% @program.translation_activities.each do |activity| %>
      <label>
        <%= check_box_tag 'assoc_activities[]', activity.id,
                          associated_activities.try(:include?, activity) %>
        <%= activity.name %>
      </label>
      <br>
  <% end %>
</div>