<%= render 'shared/error_messages', errors: @participant.errors %>

<%= form_for @participant, html: {class: 'auto-width'} do |form| %>
    <%= hidden_field_tag :this_action, 'edit' %>

    <div class="form-group">
      <%= form.label :start_date, t(:Start_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'participant',
                 field: 'start_date', fdate: @participant.f_start_date %>
    </div>

    <% unless @participant.f_end_date.nil? %>
        <div class="form-group">
          <%= form.label :end_date, t(:End_date) %>
          <%= render 'shared/fuzzy_date_field', model: 'participant',
                     field: 'end_date', fdate: @participant.f_end_date %>
        </div>
    <% end %>

    <%= render 'associated_activities_section' %>

    <p>
      <%= form.submit t(:Save), class: 'btn btn-primary btn-lg', data: {'participant_submit' => 1} %>
      <%= link_to t(:Cancel), @participant, class: 'btn btn-danger btn-lg' %>
    </p>
<% end %>