<%= form_for @participant, url: submit_path,
             html: {class: 'auto-width'} do |form| %>

    <div class="form-group">
      <%= form.label :person_id, t(:Person), {style: 'display: block;'} %>
      <%= form.collection_select :person_id, @cluster_program.unassociated_people,
                                 :id, :full_name_rev, {},
                                 {class: 'form-control', autofocus: true,
                                  style: 'display: inline-block;'} %>
      <%= link_to t(:New_person), new_person_path(referred_by: request.path) %>
    </div>

    <div class="form-group">
      <%= form.label :program_role_id, t(:Role) %>
      <%= form.collection_select :program_role_id, ProgramRole.sorted, :id, :t_name, {},
                                 {class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, t(:Start_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'participant', field: 'start_date' %>
    </div>

    <% if defined?(@program) and !@program.activities.empty? %>
      <%= render 'associated_activities' %>
    <% end %>

    <%= form.submit t(:Save), class: 'btn btn-primary btn-lg', data: {'participant_submit' => 1} %>
<% end %>