<%= form_for @participant, url: submit_path,
             html: {class: 'auto-width'} do |form| %>

    <div class="form-group">
      <%= form.label :person_id, t(:Person), {style: 'display: block;'} %>
      <%= form.collection_select :person_id, @cluster_program.unassociated_people,
                                 :id, :full_name_rev, {},
                                 {class: 'form-control', autofocus: true,
                                  style: 'display: inline-block;'} %>
      <%= link_to t(:New_person), new_person_path(referred_by: request.path) %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, t(:Start_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'participant', field: 'start_date' %>
    </div>

    <% activities = @cluster_program.sorted_activities %>
    <% unless activities.empty? %>
      <h3><%= t :Associated_activities %></h3>
      <% if @program %>
        <%= render 'associated_activities', activities: activities %>
      <% else %>
        <% program_activities = activities.group_by{ |a| a.program_id } %>
        <% program_activities.each do |program_id, p_activities| %>
          <label class="bigger"><%= Program.find(program_id).name %></label>
          <%= render 'associated_activities', activities: p_activities %>
        <% end %>
      <% end %>
    <% end %>

    <p>
      <%= form.submit t(:Save), class: 'btn btn-primary btn-lg', data: {'participant_submit' => 1} %>
    </p>
<% end %>