<% if @cluster_program.is_a? Program %>
  <% @program = @cluster_program %>
  <%= render layout: 'programs/sidebar' do %>
    <h2><%= t :Add_a_person %></h2>

    <%= render 'new', submit_path: program_participants_path %>
  <% end %>

<% else %>
  <% @cluster = @cluster_program %>
  <h2><%= t :Cluster_x, name: @cluster.name %></h2>
  <h3><%= t :Add_a_person %></h3>
  <%= render 'new', submit_path: cluster_participants_path %>
<% end %>