<%
  title = event.display_name
  if event.programs.count == 1 and event.clusters.empty?
    title = "#{event.programs.first.name} #{title}"
  elsif event.clusters.count == 1 and event.programs.empty?
    title = "#{event.clusters.first.display_name} #{title}"
  end
%>

<div class="panel panel-info" id="event-panel-<%= event.id %>">
  <div class="panel-heading h5 panel-title dulu-panel-title">
    <%= link_to title, ctxt_event_path(@program, event) %>
  </div>
  <div class="panel-body">
    <p><strong><%= event.dates_display_text %></strong></p>
    <p>
      <% unless event.programs.empty? %>
          <%= event.programs.collect{ |p| link_to(p.name, p)}.join(', ').html_safe %>
          <br>
      <% end %>
      <% unless event.clusters.empty? %>
        <%= event.clusters.collect{ |c| link_to(t(:Cluster_x, name: c.name), c) }.join(', ').html_safe %>
        <br>
      <% end %>
      <%= event.people.collect{ |p| link_to(p.name, p) }.join(', ').html_safe %>
    </p>
    <p>
      <small>
        <%= truncate event.note, length: 300, separator: ' ' %>
      </small>
    </p>
  </div>
</div>