    <%= render 'shared/error_messages', errors: @event.errors %>

    <% if @workshop %>
      <%= hidden_field_tag :workshop_id, @workshop.id %>
    <% end %>

    <div class="form-group">
      <%= form.label :name, t(:Name) %>
      <%= form.text_field :name, class: 'form-control', autofocus: true, size: 50 %>
    </div>

    <div class="form-group">
      <%= form.label :domain, t(:Type_of_event) %>
      <%= form.select :domain, StatusParameter.sorted_domains.collect{ |d| [t(d), d]},
                      {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, t(:Start_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'event', field: 'start_date', fdate: @event.f_start_date %>
    </div>

    <div class="form-group">
      <%= form.label :end_date, t(:End_date) %><br />
      <a href="#" data-end-same-as-start-date><%= t :Same_as_start_date %></a>
      <%= render 'shared/fuzzy_date_field', model: 'event', field: 'end_date', fdate: @event.f_end_date%>
    </div>

    <div class="form-group">
      <%= form.label :note, t(:Notes) %>
      <%= form.text_area :note, class: 'form-control', rows: 4, cols: 50 %>
    </div>

    <%= form.submit t(:Save), data: {'events-form-submit' => 1}, class: 'btn btn-primary btn-lg' %>

    <%
      if @event.persisted?
        return_path = @program ? program_event_path(@program, @event) : event_path(@event)
      else
        return_path = @program ? program_events_path(@program) : events_path
      end
    %>
    <%= link_to  t(:Cancel), return_path, class: 'btn btn-danger btn-lg' %>