<%= render 'programs/sidebar' do %>

    <h2><%= t :Events %></h2>

    <%= link_to t(:Add_event), new_program_event_path(@program), class: 'btn btn-primary' if can?(:create, Event) %>

  <%
    events = {}
    events[:future] = @program.all_events.upcoming
    events[:current] = @program.all_events.current
    events[:past] = @program.all_events.past.limit(20)
  %>

    <% if events == {past: [], current: [], future: []} %>
      <h3><%= t :No_events %></h3>
    <% else %>
      <%= render 'events_table', events: events %>
    <% end %>
<% end %>