<%= render 'programs/sidebar' do %>
  <h2><%= t :New_event %></h2>

  <%= form_for @event, url: program_events_path(@program),
               html: {class: 'auto-width'} do |form| %>
    <div class="form-group">
      <%= form.label :kind, t(:Type_of_event) %>
      <%= form.select :kind, Event.kinds.keys.collect{|k| [t(k), k]},
                      {}, class: 'form-control', autofocus: true %>
    </div>

    <div class="form-group">
      <%= form.label :name, t(:Name) %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, t(:Start_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'event', field: 'start_date' %>
    </div>

    <div class="form-group">
      <%= form.label :end_date, t(:End_date) %>
      <%= render 'shared/fuzzy_date_field', model: 'event', field: 'end_date' %>
    </div>

    <div class="form-group" id="program-ids">
      <%= form.label :program_ids, t(:Programs) %>
      <%= select_tag 'event[program_ids][]', options_for_select([[@program.name, @program.id]]),
                     class: 'form-control' %>
      <div class="program-select" style="display: none">
        <%= select_tag 'event[program_ids][]',
                       options_from_collection_for_select(Program.all_sorted, :id, :name),
                       style: 'display: inline-block', class: 'form-control' %>
        <a href="#" data-remove-program-select><%= t :Remove %></a>
      </div>
      <a href="#" data-add-program-select><%= t(:Add_a_program) %></a>
    </div>

    <div class="form-group" id="event-participants">
      <%= form.label :people, t(:People), style: 'display: block' %>
      <%= form.fields_for :event_participants, index: nil do |ep_form| %>
        <div class="person-select">
          <%= ep_form.collection_select :person_id, Person.all_sorted, :id, :full_name,
                         {include_blank: true}, style: 'display: inline-block', class:'form-control' %>
          <%= t :with_a_role_of %>
          <%= ep_form.collection_select :program_role_id, ProgramRole.all, :id, :t_name, {include_blank: true}, style: 'display: inline-block', class: 'form-control' %>
          <a href="#" data-remove-person-select style="display: none"><%= t :Remove %></a>
        </div>
        <a href="#" data-add-person-select style="display: block"><%= t(:Add_a_person) %></a>
      <% end %>
    </div>

    <%= form.submit t(:Save), data: {'events-form-submit' => 1}, class: 'btn btn-primary btn-lg' %>
  <% end %>

<% end %>