<h1><%= t :Activity_log %></h1>

<%= paginate @audits %>

<table class="table">
  <% @audits.each do |audit| %>
    <tr>
      <td><%= audit.created_at %></td>
      <td>
        <%= audit_message(audit) %>
      </td>
      <td>
        <%= link_to t(:View), audit_path(audit) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @audits %>