<h1><%= t :Activity_log %></h1>

<ul class="list-inline">
  <% (1..@pages).each do |page| %>
    <li>
      <% if page == @page %>
        <%= page %>
      <% else %>
        <%= link_to page, audits_path(page: page) %>
      <% end %>
    </li>
  <% end %>
</ul>

<table class="table">
  <% @audits.each do |audit| %>
    <tr>
      <td><%= audit.created_at %></td>
      <td>
        <%= audit_message(audit) %>
      </td>
      <td>
        <%= link_to t(:View), audit_path(audit) %>
      </td>
    </tr>
  <% end %>
</table>