<p>
  <%= link_to t(:Activity_log), audits_path %>
</p>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <td><%= @audit.user.full_name %></td>
  </tr>
  <tr>
    <th>Time</th>
    <td><%= @audit.created_at %></td>
  </tr>
  <tr>
    <th>Action</th>
    <td><%= @audit.action %></td>
  </tr>
  <tr>
    <th>Model</th>
    <td><%= @audit.auditable_type %></td>
  </tr>
  <tr>
    <th>ID</th>
    <td><%= @audit.auditable_id %></td>
  </tr>
  <tr>
    <th>Associated Model</th>
    <td><%= @audit.associated_type %></td>
  </tr>
  <tr>
    <th>Associated Model ID</th>
    <td><%= @audit.associated_id %></td>
  </tr>
  <tr>
    <th>Changes</th>
    <td><%= @audit.audited_changes %></td>
  </tr>
  <tr>
    <th>Comment</th>
    <td><%= @audit.comment %></td>
  </tr>
  <tr>
    <th>IP</th>
    <td><%= @audit.remote_address %></td>
  </tr>
</table>