<% unless updates.empty? %>
    <b><%= status_parameter.prompt %></b>
    <table class="table">
      <% updates.each do |update| %>
          <tr>
            <td style="width: 140px">
              <%= update.f_date.pretty_print(always_year: true) %>
            </td>
            <td style="width: 280px">
              <%= render 'status', update: update %>
            </td>
            <td><%= update.note %></td>
            <% if can? :update, update %>
              <td style="width: 140px;"><%= link_to t(:Edit), edit_domain_update_path(update) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>