<%= render 'programs/sidebar' do %>

  <h2><%= t @domain_update.domain %></h2>

  <div class="form-group">
    <%= button_to t(:Delete_this_update),
                  domain_update_path(@domain_update),
                  method: :delete,
                  data: {confirm: t(:Delete_domain_update_confirmation)},
                  class: 'btn btn-danger' %>
  </div>

  <%= form_for @domain_update, html: {class:'auto-width'} do |form| %>
    <div class="form-group">
      <label><%= t :Date %></label>
      <%= render 'shared/fuzzy_date_field',
                 model: :domain_update,
                 field: :date,
                 no_day: true,
                 fdate: @domain_update.f_date %>
    </div>

    <% status_parameter = @domain_update.status_parameter %>
    <% status_parameter = StatusParameter.other_parameter(@domain_update.domain) if status_parameter.nil? %>
    <%= render 'domain_update_form', status_parameter: status_parameter %>

    <div class="form-group">
      <%= submit_tag t(:Save), class: 'btn btn-primary btn-lg', data: {'domain-updates-form-submit': 1} %>
    </div>
  <% end %>
<% end %>