<%= render 'programs/sidebar' do %>

  <h2><%= t :Domain_updates %></h2>

  <% domains = StatusParameter.domains %>
  <% domains.sort!{ |a, b| t(a) <=> t(b) } %>
  <% domains.each do |domain| %>
    <h3 id="<%= domain %>">
      <%= t domain %>
      <%= link_to t(:Update), new_program_domain_update_path(@program, dmn: domain), class: 'btn btn-primary' %>
    </h3>
    <div style="margin-left: 20px;">
      <% StatusParameter.where(domain: domain).each do |status_parameter| %>
        <% updates = @domain_updates.select{ |du| du.status_parameter == status_parameter } %>
        <%= render 'domain_updates_table', updates: updates, status_parameter: status_parameter %>
      <% end %>
      <% updates = @domain_updates.select{ |du| du.domain==domain and du.status_parameter.nil? } %>
      <%= render 'domain_updates_table', updates: updates, status_parameter: StatusParameter.other_parameter(domain) %>
    </div>
  <% end %>
<% end %>