<% level ||= 0 %>
<% header = "h#{level+4}" %>
<% results.each do |result| %>
    <tr>
      <td style="padding-left:<%= level*40 %>px">
        <<%= header %>>
          <%=
            if result[:model]
              link_to result[:title], result[:model]
            elsif result[:route]
              link_to result[:title], result[:route]
            else
              result[:title]
            end
          %>
          <small><%= result[:description] %></small>
        </<%= header %>>
      </td>
    </tr>
    <% if result[:subresults] %>
      <%= render 'results_table', results: result[:subresults], level: (level+1) %>
    <% end %>
<% end %>