<%= form_for(@stage,
             url: translation_activity_stages_path(@translation_activity)) do |f| %>
  <p>
    <%= f.label :name, t(:Stage) %>
    <%= f.select(:name, t_select_options(Stage::TRANSLATION_STAGES)) %>
  </p>
  <p>
    <%= f.label :start_date, t(:Start_date) %>
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.submit t(:Save) %>
  </p>
<% end %>