<%= form_for(@stage,
             url: translation_activity_translation_stages_path(@translation_activity)) do |f| %>
  <p>
    <%= f.label :stage_name, t(:Stage) %>
    <%= f.collection_select(:stage_name_id, StageName.all.order(:id),
          :id, :translated_name) %>
  </p>
  <p>
    <%= f.label :start_date, t(:Start_date) %>
    <%= f.date_field :start_date %>
  </p>
  <p>
    <%= f.submit t(:Save) %>
  </p>
<% end %>