<td class="h4" id="stage-name-<%= stage.id %>">
  <%= t stage.name %>
</td>

<td id="stage-date-<%= stage.id %>">
  <%= stage.f_start_date.try(:pretty_print) %>
</td>

<% if can? :update_activity, stage.activity %>
  <td>
    <%= button_tag t(:Modify_Date), class: 'btn btn-warning',
                      data: {'edit-stage-id' => stage.id}  %>
  </td>

  <td>
      <%= button_to t(:Delete), stage_path(stage),
            method: :delete, remote: true, class: 'btn btn-danger',
            data: { confirm: t(:Delete_stage_confirmation)}  %>
    <% end %>
  </td>