<%= form_for stage, remote: true do |f| %>
  <td><h4><%= t stage.name %></h4></td>
  <td><%= render 'shared/fuzzy_date_field', model: 'stage', field: 'start_date', fdate: stage.f_start_date %>
    <td><%= f.submit t(:Save), class: 'btn btn-primary' %></td>
  <td><%= button_tag t(:Cancel), class: 'btn btn-default', data: {'cancel-edit-stage-id' => stage.id} %></td>
<% end %>