<%= form_tag(controller: 'translation_activities', action: 'create', program_id: @program.id) %>
<%= submit_tag t(:Save) %>
<table class='table'>
  <tr>
    <th><%= t :Old_testament %></th>
    <th><%= t :New_testament %></th>
  </tr>
  <% ot_books = BibleBook.get_old_testament %>
  <% nt_books = BibleBook.get_new_testament %>
  <% already_added_books = @program.bible_books %>
  <% ot_books.each_index do |i| %>
    <tr>
      <%= render('table_cell_for_new', 
                  already_added_books: already_added_books, book: ot_books[i]) %>
      <% if nt_books[i] %>
        <%= render('table_cell_for_new',
                  already_added_books: already_added_books, book: nt_books[i]) %>
      <% end %>
    </tr>
  <% end %>
</table>