<%= render layout: 'programs/sidebar' do %>
  <h2><%= @translation_activity.name %></h2>

  <ul class="list-inline">
    <% prev_book = @translation_activity.prev %>
    <% next_book = @translation_activity.next %>
    <li>
      <% if prev_book.nil? %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% else %>
        <%= link_to "<#{prev_book.name}", translation_activity_path(prev_book) unless prev_book.nil? %>
      <% end %>
    </li>
    <li>
      <%= link_to "#{next_book.name}>", translation_activity_path(next_book) unless next_book.nil? %>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-6">
      <p>
        <%= t :Current_stage %>:
        <span id="current-stage">
          <%= t @translation_activity.current_stage.name %>
        </span>
      </p>

      <% if can? :update_activity, @translation_activity %>
        <%= button_tag t(:Update), id: 'show-update-form', class: 'btn btn-primary' %>
        <div class="row" id="update-stage-form" style="display: none;">
          <%= render 'stages/ajax_form', activity: @translation_activity %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>
        <%= t :Notes %>
        <small>
          <% if can? :update_activity, @translation_activity %>
            <%= link_to t(:Edit), '#', data: {'edit-note' => 'edit-note'} %>
          <% end %>
        </small>
      </h3>
      <div id="view-note">
        <% unless @translation_activity.note.blank? %>
            <div class="bs-callout bs-callout-info">
              <%= simple_format @translation_activity.note  %>
            </div>
        <% end %>
      </div>
      <div id="edit-note" style="display: none;">
        <%= form_for @translation_activity do |form| %>
          <div class="form-group">
            <%= form.text_area :note, class: 'form-control', rows: '7' %>
          </div>
          <%= form.submit t(:Save), class: 'btn btn-primary' %>
          <%= link_to t(:Cancel), '#', class: 'btn btn-danger', data: {'view-note'=>'view-note'} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>
        <%= t :History %>
      </h3>
      <table class="table" id="dulutable" >
        <% if @translation_activity.stages_ordered_desc.empty? %>
          <tr></tr>
        <% end %>
        <% @translation_activity.stages_ordered_desc.each do |stage| %>
          <%= render 'stage_rows', stage: stage %>
        <% end %>
      </table>
    </div>

    <div class="col-md-6">
      <h3><%= t :People %></h3>
      <table class="table" >
        <% @translation_activity.current_participants.each do |participant| %>
          <tr>
            <td><%= link_to participant.person.full_name,
                            person_path(participant.person) %></td>
            <td><%= t(participant.program_role.name) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>