<h1><%= t :Organizations %></h1>
<p>
  <%= link_to t(:add_organization_button), new_organization_path, class: "btn btn-primary" %>
</p>
<table class="table">
  <tr>
    <th><%= t :Name %></th>
  </tr>
  <% @organizations.each do |org| %>
    <tr>
      <td><%= org.name %>
        <% unless org.description.blank? %>
          - <%= org.description %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>