<!-- Currently only applies to Linguistic Activities -->

<%= render layout: 'programs/sidebar' do %>

  <h2><%= @activity.name %></h2>

  <%= form_for @activity, url: activity_path(@activity), html: {class: 'auto-width'} do |form| %>
    <div class="form-group">
      <label>
        <%= t(:Title) %>
      </label>
      <%= text_field_tag 'activity[title]', @activity.title, class: 'form-control' %>
    </div>
    <p>
      <%= form.submit t(:Save), class: 'btn btn-primary' %>
      <a onclick="window.history.back()" class="btn btn-danger"><%= t(:Cancel) %></a>
    </p>
  <% end %>
<% end %>