<%= render layout: 'programs/sidebar' do %>
  <h2>
    <%= @activity.name %>
    <% if @activity.is_a?(LinguisticActivity) && can?(:update, @activity) %>
      <small><%= link_to t(:Edit), edit_activity_path %></small>
    <% end %>
    <% if @activity.respond_to?(:bible_books) && !@activity.bible_books.empty? %>
      <br />
      <small><%= @activity.bible_books.collect{ |b| b.name }.join(', ') %></small>
    <% end %>
  </h2>

  <% if @activity.respond_to? :prev %>
    <ul class="list-inline">
      <% prev_book = @activity.prev %>
      <% next_book = @activity.next %>
      <li>
        <% if prev_book.nil? %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <% else %>
          <%= link_to "<#{prev_book.name}", activity_path(prev_book) unless prev_book.nil? %>
        <% end %>
      </li>
      <li>
        <%= link_to "#{next_book.name}>", activity_path(next_book) unless next_book.nil? %>
      </li>
    </ul>
  <% end %>

  <% unless @activity.category == :Workshops %>
    <div class="row">
      <div class="col-md-6">
        <p class="bigger">
          <%= t :Current_stage %>:
          <span id="current-stage">
            <%= t @activity.current_stage.name %>
          </span>

          <% if can? :update, @activity %>
            <%= button_tag t(:Update), id: 'show-update-form', class: 'btn btn-primary btn-sm' %>
            <div class="row" id="update-stage-form" style="display: none;">
              <%= render 'stages/ajax_form', activity: @activity %>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h3>
        <%= t :Notes %>
        <small>
          <% if can? :update, @activity %>
            <%= link_to t(:Edit), '#', data: {'edit-note' => 'edit-note'} %>
          <% end %>
        </small>
      </h3>
      <div id="view-note">
        <% unless @activity.note.blank? %>
            <div class="bs-callout bs-callout-info">
              <%= simple_format @activity.note  %>
            </div>
        <% end %>
      </div>
      <div id="edit-note" style="display: none;">
        <%= form_for @activity, as: :activity, url: activity_path(@activity) do |form| %>
          <div class="form-group">
            <%= form.text_area :note, class: 'form-control', rows: '7' %>
          </div>
          <%= form.submit t(:Save), class: 'btn btn-primary' %>
          <%= link_to t(:Cancel), '#', class: 'btn btn-danger', data: {'view-note'=>'view-note'} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @activity.empty_activity? && can?(:destroy, @activity) %>
      <div class="col-md-6">
        <p>--</p>
        <%= button_to "#{t(:Delete)} #{@activity.name}",
                      activity_path(@activity),
                      method: :delete,
                      data: {confirm: t(:Delete_activity_confirmation)},
                      class: 'btn btn-danger' %>
      </div>
    <% else %>
      <div class="col-md-6 showable-form-section">

        <% if @activity.category == :Workshops %>
          <script type="application/json" id="workshops-strings">
            <%=
              strings_json(:common, :workshops_activity_page)
             %>
          </script>
          <div id='workshops' 
                    data-activity-id=<%= @activity.id %>
                    data-authenticity-token=<%= form_authenticity_token %>>
          </div>
          <%= javascript_pack_tag('workshops') %>

        <% else %>
          <h3><%= t :History %></h3>
          <table class="table" id="dulutable" >
            <% if @activity.stages_ordered_desc.empty? %>
              <tr></tr>
            <% end %>
            <% @activity.stages_ordered_desc.each do |stage| %>
              <%= render 'stage_rows', stage: stage %>
            <% end %>
          </table>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="showable-form-section">
          <% participants = @activity.current_participants %>
          <% available_participants = @program.current_participants - participants %>
          <h3>
            <%= t :People %>
            <small>
              <% if can? :manage_participants, @program %>
                <% unless participants.empty? and available_participants.empty? %>
                  <a href="#" data-showable-form-show><%= participants.empty? ? t(:Add) : t(:Edit) %></a>
                  <a href="#" data-showable-form-hide class="not-shown"><%= t(:Cancel) %></a>
                <% end %>
              <% end %>
            </small>
          </h3>

          <% unless available_participants.empty? %>
            <p>
              <%= form_tag add_update_activity_path(@activity), method: :patch, class: 'form-inline not-shown' do %>
                <label><%= t :Add %></label>
                <%= select_tag :participant_id, options_from_collection_for_select(available_participants, :id, :full_name_rev), class: 'form-control' %>
                <%= submit_tag t(:Add), class: 'btn btn-primary' %>
                <a href="#" data-showable-form-hide class="btn btn-danger"><%= t :Cancel %></a>
              <% end %>
            </p>
          <% end %>

          <table class="table" >
            <% @activity.current_participants.each do |participant| %>
              <tr>
                <td><%= link_to participant.person.full_name, participant %></td>
                <td><%= participant.roles_text %></td>
                <td class="not-shown">
                  <%= link_to t(:Remove),
                              remove_update_activity_path(@activity, participant_id: participant),
                              method: :patch %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>