<h2>
  <%= t :LanguageProgramFacilitators %>
</h2>

<table class="table auto-width">
  <% @lpfs.each do |lpf| %>
    <tr>
      <td class="bigger"><%= link_to lpf.name, lpf %></td>
      <td class="subtle-links" style="vertical-align: bottom"><%= link_to_unless lpf.person.nil?, lpf.person.try(:full_name), lpf.person %></td>
    </tr>
  <% end %>
</table>

<% if can? :create, Lpf %>
  <%= form_for :lpf, html: {class: 'auto-width'} do |form| %>
    <div class="form-group">
      <label><%= t :New_lpf %></label>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <p>
      <%= form.submit t(:Save), class: 'btn btn-primary' %>
    </p>
  <% end %>
<% end %>