<%= render layout: 'programs/sidebar' do %>
  <h3><%= t :People %></h3>

  <%= link_to t(:Add_person), new_program_pers_prog_rel_path(@program) %>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Joined Program</th>
      <th>Left Program</th>
      <th colspan="2"></th>
    </tr>
    <% @program.pers_prog_rels.each do |pers_prog_rel| %>
      <tr>
        <td><%= pers_prog_rel.person.full_name %></td>
        <td><%= t(pers_prog_rel.program_role.name) %></td>
        <td><%= pers_prog_rel.f_start_date.pretty_print %></td>
        <td><%= pers_prog_rel.f_end_date.try(:pretty_print) %></td>
        <td><%= link_to t(:Edit), edit_pers_prog_rel_path(pers_prog_rel) %></td>
        <td><%= link_to t(:Remove), finish_pers_prog_rel_path(pers_prog_rel) %></td>
      </tr>
    <% end %>
  </table>
<% end %>