<%= render 'programs/sidebar' do %>
  <h2><%= @survey.display_name %></h2>

  <% completion = SurveyCompletion.find_by(program: @program, survey: @survey) %>
  <% if completion %>
    <p class="lead text-success">
      Survey completed <%= completion.created_at.strftime("%c") %> by <%= completion.person.full_name %>
      <%= link_to 'Undo', program_survey_path(@program, @survey), method: :delete, class: 'btn btn-link' %>
    </p>
  <% end %>

  <h3><%= t :Publications %></h3>
  <p>
    Please enter any Scripture or Scripture Media published in <%= @program.name %>.
  </p>
  <% unless @program.publications.empty? %>
    <b><%= @program.name %> <%= t :Publications %></b>
    <ul>
      <% @program.publications.each do |pub| %>
        <li>
          <%= pub.name %>
          <%= "(#{pub.year})" if pub.year%> -
          <%= link_to t(:Edit), edit_publication_path(pub) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= link_to t(:Enter_a_publication), new_program_publication_path(@program, referred_by: request.path), class: 'btn btn-primary' %>

  <h3><%= t :Events %></h3>
  <p>
    Please enter any events in the last three years that promoted literacy or <%= @program.name %> Scripture use.
  </p>
  <% unless @program.all_events.empty? %>
    <b><%= @program.name %> <%= t :Events %></b>
    <table class="table" style="width: auto;">
      <% @program.all_events.each do |event| %>
        <tr>
          <td><%= link_to event.name, program_event_path(@program, event) %></td>
          <td><%= event.dates_display_text %></td>
          <td><%= event.note %></td>
          <td><%= link_to t(:Edit), edit_event_path(event) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= link_to t(:Enter_event), new_program_event_path(@program, referred_by: request.path), class: 'btn btn-primary' %>

  <% domains = @survey.status_parameters.collect{ |sp| sp.domain }.uniq %>
  <% domains.each do |domain| %>
    <h3><%= t domain %></h3>
    <p>Please update the status of the <%= @program.name %> program with respect to <%= t domain %>.</p>
    <% unless @program.domain_updates.where(domain: domain).empty? %>
      <p>
        <b>Last updated: </b>
        <% date = @program.domain_updates.find_by(domain: domain).f_date.pretty_print %>
        <%= link_to date, program_domain_updates_path(@program, anchor: domain) %>
      </p>
    <% end %>
    <%= link_to "#{t(:Update)} #{t(domain)}", new_program_domain_update_path(@program, dmn: domain, survey: @survey.id, referred_by: request.path), class: 'btn btn-primary' %>
  <% end %>

  <% unless completion %>
    <div style="margin-top: 30px;">
      <%= button_to 'Survey Completed', program_survey_path(@program, @survey), class: 'btn btn-success btn-lg' %>
    </div>
  <% end %>
<% end %>