<%
  # LOCALS: master_name, master_caption, category, items, item_captions
  master_caption ||= t(master_name)
  item_captions ||= items.collect{ |i| t(i) }
%>

<div class="form-group">
  <% master_checked = params[:element_masters].try(:include?, master_name) %>
  <div class="checkbox masterbox">
    <label>
      <%= check_box_tag "element_masters[]", master_name, master_checked %>
      <%= master_caption %>
    </label>
  </div>
  <div class="checkbox slaveboxes <%= 'disabled' if !master_checked %>">
    <% items.each_with_index do |item, i| %>
      <label class="checkbox-inline">
        <%= render 'slavebox', params: params, sub1: category, value: item, master_checked: master_checked %>
        <%= item_captions[i] %>
      </label>
    <% end %>
  </div>
</div>