<%
  # Locals: program, p_report
%>

<%
  books = p_report[:activities][:old_testament] || []
  books += (p_report[:activities][:new_testament] || [])
  cols = (books.length / 3.0).ceil
%>
<tr>
  <td class="bigger borderless" colspan="<%= cols %>"><%= link_to program.name, program %></td>
</tr>

<tr>
  <td class="table-container">
    <table class="table auto-width bottom-border">
      <% (0..2).each do |row| %>
        <tr>
          <% (0..(cols-1)).each do |col| %>
            <% book_report = books[row*cols + col] %>
            <% if book_report %>
              <% bgcolor = (book_report[:stage]) ? color_from_sym(book_report[:stage].progress[1]) : '#ffffff' %>
              <% color = (book_report[:stage]) ? forecolor_from_sym(book_report[:stage].progress[1]) : '#000000' %>
              <td class="lang-comp-book-cell"
                  style="background-color: <%= bgcolor %>; color: <%= color %>;">
                <%= abbreviate_book book_report[:name] %>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

    </table>
  </td>
</tr>

<% if p_report[:publications] && !p_report[:publications].empty? %>
  <tr>
    <td class="table-container">
      <table class="table auto-width bottom-border">
        <tr>
          <th class="lang-comp-book-cell"><%= t :Published %></th>
          <% p_report[:publications].each do |pub| %>
            <%
              bgcolor = pub[:published?] ? color_from_sym(:purple) : '#ffffff'
              color = pub[:published?] ? '#ffffff' : '#000000'
            %>
            <td class="lang-comp-book-cell" style="background-color: <%= bgcolor %>; color: <%= color %>;">
              <%= t pub[:name] %>
            </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
<% end %>