<%
  params ||= {type: :LanguageComparison, element_masters: ['bible_translation'], elements: {activities: ['Old_testament', 'New_testament']}}
%>

<%= form_tag(reports_path, method: :post, class: 'auto-width') do %>
  <div class="form-group">
    <h3><%= t :Report %></h3>
    <%= select_tag :type, t_select_options(Report::TYPES, params[:type]), class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="bigger">
      <h3><%= t :Languages %>:</h3>
      <% unless params[:cluster_ids] || params[:program_ids] %>
        <span id="report-languages-none" class="text-danger"><%= t :None_selected %></span>
      <% end %>
      <p id="report-languages">
        <% params[:cluster_ids].try(:each) do |id| %>
          <span>
            <%= hidden_field_tag 'cluster_ids[]', id %>
            <%= Cluster.find(id).display_name %>
            <a href="#" class="btn btn-xs btn-danger">X</a>
          </span>
        <% end %>
        <% params[:program_ids].try(:each) do |id| %>
          <span>
            <%= hidden_field_tag 'program_ids[]', id %>
            <%= Program.find(id).display_name %>
            <a href="#" class="btn btn-xs btn-danger">X</a>
          </span>
        <% end %>
      </p>
    </div>
    <div>
      <label><%= t :Add_cluster %>:</label>
      <%= select_tag :add_cluster, options_from_collection_for_select(Cluster.all, :id, :display_name), class: 'form-control form-control-inline' %>
      <a href="#" data-add-cluster class="btn btn-primary"><%= t :Add %></a>

      <label><%= t :Add_language %>:</label>
      <%= select_tag :add_program, options_from_collection_for_select(Program.all, :id, :name), class: 'form-control form-control-inline' %>
      <a href="#" data-add-program class="btn btn-primary"><%= t :Add %></a>
    </div>
  </div>

  <div class="form-group">
    <h3><%= t :Report_elements %></h3>

    <h4><%= t :Current_activities %></h4>
    <%= render 'checkbox_group',
               params: params,
               category: 'activities',
               master_name: 'bible_translation',
               items: %w( New_testament Old_testament)
    %>

    <h4><%= t :Publications %></h4>
    <%= render 'checkbox_group',
               params: params,
               category: 'publications',
               master_name: 'publications_scripture',
               master_caption: t(:Scripture),
               items: %w( Bible New_testament Old_testament Any_scripture )
    %>

    <%= render 'checkbox_group',
               params: params,
               category: 'publications',
               master_name: 'publications_audio_scripture',
               master_caption: t(:AudioScripture),
               items: %w( Audio_Bible Audio_New_testament Audio_Old_testament ),
               item_captions: [t(:Bible), t(:New_testament), t(:Old_testament)]

    %>

    <%= render 'checkbox_group',
               params: params,
               category: 'publications',
               master_name: 'publications_other_media',
               master_caption: t(:Other_media),
               items: %w( JesusFilm LukeFilm App )
    %>

    <%= render 'checkbox_group',
               params: params,
               category: 'publications',
               master_name: 'publications_linguistic',
               master_caption: t(:Linguistic),
               items: ['Dictionary']
    %>

    <%= render 'checkbox_group',
               params: params,
               category: 'publications',
               master_name: 'publications_literacy',
               master_caption: t(:Literacy),
               items: ['Any_literacy'],
               item_captions: [t(:Any)]

    %>
  </div>

  <p>
    <%= submit_tag t(:Generate_report), class: 'btn btn-primary btn-lg' %>
  </p>
<% end %>