<%= render 'recently_viewed_reports' %>

<h2>
  <%= t_phrase(@report.name) %>
</h2>

<p>
  <%= link_to t(:Copy_and_edit), edit_report_path(@report), class: 'btn btn-primary btn-sm' %>
  <%= mail_to '',
              t(:Email_report),
              subject: "#{t(:Dulu_report)} - #{t_phrase(@report.name)}",
              body: "#{t_phrase(@report.name)} : #{request.url}",
              class: 'btn btn-primary btn-sm' %>
</p>

<!-- Language Comparison Report -->
<table class="table auto-width">
  <tr>
    <% Stage::TRANSLATION_STAGES.slice((1..-1)).each do |stage| %>
      <% bgcolor = color_from_sym Stage.progress(:Translation, stage)[1] %>
      <% color = forecolor_from_sym Stage.progress(:Translation, stage)[1] %>
      <td style="background-color: <%= bgcolor %>; color: <%= color %>">
        <%= t(stage) %>
      </td>
    <% end %>
  </tr>
</table>

<table class="table auto-width">
  <% @data[:clusters].each do |cluster, programs| %>
    <tr>
      <td class="h3 borderless" colspan="100">
        <%= link_to cluster.display_name, cluster %>
      </td>
    </tr>
    <% programs.each do |program, p_report| %>
      <%= render 'lc_program_report', program: program, p_report: p_report %>
    <% end %>
  <% end %>
  <% @data[:programs].each do |program, p_report| %>
    <%= render 'lc_program_report', program: program, p_report: p_report %>
  <% end %>
</table>