<header class="navbar navbar-fixed-top navbar-inverse" id="app_header">
  <div class="container">
    <!-- %= link_to "CLaSP", root_url, id: "logo" % -->
    <%= link_to(image_tag("dulu.png", size: "107x40"), root_url ,id: "logo") %>
    <% if logged_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'People', people_path %></li>
        <li><%= link_to 'Organizations', organizations_path %></li>
        <li><%= link_to 'Languages', languages_path %></li>
        <li><%= link_to 'Projects', projects_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to @current_user.first_name, '#' %></li>
        <li><%= link_to 'Log out', logout_url, method: :delete %></li>
      </ul>
    <% end %>
  </div>
</header>